 ## Test2 Stored Procedure

In [ ]:
-- -- This is an example stored procedure that demonstrates
-- -- the use of various custom annotations for converting
-- -- to a Jupyter notebook.
-- 
-- CREATE PROCEDURE Test2
-- AS
-- BEGIN

 ### Step 1: Create a Common Table Expression (CTE)

In [ ]:
-- 
--     WITH cte_example AS (
        SELECT
            Column1,
            Column2,
            Column3
        FROM
            SomeTable
         Column1 = 'example'

In [ ]:
--     )

 ### Step 2: Insert data into a temporary table

In [ ]:
    SELECT
        Column1,
        Column2,
        Column3
    INTO
        #TempTable
    FROM
        cte_example
     Column2 > 100

In [ ]:
--

 ### Step 3: Perform a final SELECT

In [ ]:
    SELECT
        Column1,
        Column2,
        SUM(Column3) AS TotalColumn3
    FROM
        #TempTable
    GROUP BY
        Column1,
        Column2
     TotalColumn3 > 1000

In [ ]:
-- END