 ## Test2 Stored Procedure

 ### Step 1: Create a Common Table Expression (CTE)

In [ ]:
        SELECT
            Column1,
            Column2,
            Column3
        FROM
            SomeTable
        -- DemoWhere: Column1 = 'example'

 ### Step 2: Insert data into a temporary table

In [ ]:
    SELECT
        Column1,
        Column2,
        Column3
    INTO
        #TempTable
    FROM
        cte_example
    -- DemoWhere: Column2 > 100

 ### Step 3: Perform a final SELECT

In [ ]:
    SELECT
        Column1,
        Column2,
        SUM(Column3) AS TotalColumn3
    FROM
        #TempTable
    GROUP BY
        Column1,
        Column2
    -- DemoWhere: TotalColumn3 > 1000